* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  position: fixed;
  overflow: hidden;
}

#root {
  background-image: url("https://c0.wallpaperflare.com/path/700/237/266/forest-glade-fir-tree-forest-floor-0814885cdb9ad0bb06957c3c67333f2b.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: grab;
}

#root > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > div > div {
  background-color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 380px;
  max-width: 900px;
  height: 580px;
  max-height: 900px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(20, 12, 0, 0.144), 0 10px 10px -10px rgba(8, 4, 0, 0.103);
}
